<div class="container">

  <div class='row'>
    <div class='col-sm-12'>
      <p>
         <h1>Users</h1>
      </p>
      <p class='pull-right'>
        <em> <%= link_to "To Books", books_path %> </em>
      </p>
    </div>
  </div>

  <ol class="breadcrumb">
    <li class="active">
      The list of users:
    </li>
  </ol>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled book-list">

        <% @users.each do |user| %>
          <h3><%= link_to user.name, user_path(user) %></h3>
          <p class="text-muted"><em><%= user.email %></em></p>
        <% end %>

      </ul>
    </div>
  </div>

  <br>
  <hr>

  <h4><em> <%= link_to "New User", new_user_path %> </em></h4>

</div>